<h1>Register</h1>

<form action="/register" method="post">
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>  
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>